<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Saved notes</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='impstyle.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='saved_notes.css') }}" >
    <script src="{{ url_for('static',filename='script.js') }}" ></script>
</head>
<body>
    <div class="wrapper">
        <div class="section">
        <div class="top_navbar">
        <div class="hamburger">
           <h2>Sign Language Detection</h2>
        </div>
        </div>
     <div class="container">
         <center>
         <h1>Your Saved Notes</h1><br><br><br>
         {% if data %}
         <table width="75%" border="1" cellpadding="10" cellspacing="0">
             <tr>
                 <th>Create Time</th>
                 <th>Modify Time</th> 
                 <th>Text</th>
                 <th>Edit/Delete</th>
             </tr>
             {% for row in data %}
             <tr>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>

                <td>
                    <form name="editnote" method="POST" action="/edit">
                        <input type="hidden" value="{{ row[4] }}" name = datatext display="hidden">
                        <input type="hidden" value="{{ row[0] }}" name = noteid display="hidden">
                        <button type="submit" title="Edit"><span class="material-symbols-outlined">edit</span></button>
                    </form>
                    <form name="deletenote" method="POST" action="/delete">
                        <input type="hidden" value="{{ row[0] }}" name = noteid display="hidden">
                        <button type="submit" title="Delete"><span class="material-symbols-outlined">delete</span></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <h1>No notes found.</h1>
        {% endif %}
         </center>
     </div>
     </div>
         <div class="sidebar">
             <div class="profile">
                <img src="{{ url_for('static',filename='images/ANUJ.png') }}" alt="Profile_picture">
                <h3>Hello {{fname}}</h3>
             </div>
             <ul>
                 <li>
                     <a href="/neweditor" >
                         <span class="icon"><span class="material-symbols-outlined">edit_square</span></span>
                         <span class="item">New Editor</span>
                     </a>
                 </li>
                 <li>
                     <a href="/saved_notes" class="active">
                         <span class="icon"><span class="material-symbols-outlined">inventory</span></i></span>
                         <span class="item">Saved Notes</span>
                     </a>
                 </li>
                 <li>
                     <a href="/help">
                         <span class="icon"><span class="material-symbols-outlined">help</span></span>
                         <span class="item">Help</span>
                     </a>
                 </li>
                 <li>
                     <a href="{{url_for('logout')}}">
                         <span class="icon"><span class="material-symbols-outlined">logout</span></span>
                         <span class="item">Log-Out</span>
                     </a>
                 </li>
             </ul>
         </div>
         
     </div>


    <!--<h1>Database Results</h1>
    <ul>
        {% if data %}
            {% for row in data %}
                <li>{{ row[0] }}</li>
                <li>{{ row[1] }}</li>
                <li>{{ row[2] }}</li>
                <li>{{ row[3] }}</li>
                <li>{{ row[4] }}</li>
                <form name="editnote" method="POST" action="/edit">
                    <input type="hidden" value="{{ row[4] }}" name = datatext display="hidden">
                    <input type="hidden" value="{{ row[0] }}" name = noteid display="hidden">
                    <button type="submit">edit</button></li>
                </form>
                <br>
            {% endfor %}
        {% else %}
            <li>No notes found.</li>
        {% endif %}
    </ul>
-->
</body>
</html>